
[Bb]in/
[Oo]bj/


.vs/


TestResults/


packages/
*.nuget.props
*.nuget.targets


Thumbs.db
.DS_Store


.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


*.mdf
*.ldf